In [128]:
import yagmail
from dotenv import load_dotenv
import os
import pandas as pd

sender = "catcatdota10@gmail.com"

load_dotenv("credentials.env")

yag = yagmail.SMTP(user=sender, password=os.getenv("PASSWORD"))
df = pd.read_csv("contacts.csv")

subject = "Test how to send email with python"
content = """
<NAME> Your have to pay <AMOUNT> THB
Bill is attach!!
"""

def generate_file(filename, content):
    with open(filename, "w") as file:
        file.write(str(content))

for index, row in df.iterrows():
    name = row["name"]
    receiver = row["email"]
    amount = row["amount"]
    filename = name + ".txt"
    
    generate_file(filename=filename, content=amount)
    
    new_content_name = content.replace("<NAME>", name).replace("<AMOUNT>", str(amount))
    
    yag.send(to=receiver, subject=subject, contents=new_content_name, attachments=filename)
    print("Email Send!!!")

Email Send!!!
Email Send!!!

In [48]:
import yagmail
from dotenv import load_dotenv
import os
import pandas as pd

sender = "catcatdota10@gmail.com"
receiver = "fffbyds@gmail.com"

load_dotenv("credentials.env")

yag = yagmail.SMTP(user=sender, password=os.getenv("PASSWORD"))

subject = "Test how to send email with python"
content = """
Here is the content of emails
Hi! Fuse Your are very handsome
"""
# content = ["""
# Here is the content of emails
# Hi! Fuse Your are very handsome
# """, 'thunder_express.txt']
attachment = "thunder_express.txt"

yag.send(to=receiver, subject=subject, contents=content, attachments=attachment)
# yag.send(to=receiver, subject=subject, contents=content)
print("Email Send!!!")

Email Send!!!

# Step by step

In [1]:
import yagmail
from dotenv import load_dotenv
import os
import pandas as pd

In [2]:
load_dotenv("credentials.env")

True

In [3]:
os.getenv("PASSWORD")

'rigq hpjq hesy zfiq'

In [4]:
sender = "catcatdota10@gmail.com"

In [33]:
yag = yagmail.SMTP(user=sender, password=os.getenv("PASSWORD"))

In [2]:
df = pd.read_csv("contacts.csv")
df

   name                       email  amount
0  fuse           fffbyds@gmail.com      86
1  feda  ajaacrdfiddfsb@dropmail.me      37

In [40]:
subject = "Test how to send email with python"
content = """
Here is the content of emails
Hi! <NAME> Your are very handsome
"""

In [3]:
for index, row in df.iterrows():
    print(index)
    print(row)

0
name                   fuse
email     fffbyds@gmail.com
amount                   86
Name: 0, dtype: object
1
name                            feda
email     ajaacrdfiddfsb@dropmail.me
amount                            37
Name: 1, dtype: object

In [42]:
for index, row in df.iterrows():
    new_content = content.replace("<NAME>", row["name"])
    yag.send(to=row["email"], subject=subject, contents=new_content)
print("Email Send!!!")

Email Send!!!

In [52]:
df["filepath"] = ["bill-"+ str(num) + ".txt" for num in range(1, 3)]

In [66]:
df

   name                 email    filepath
0  fuse  ujysmysxk@emlhub.com  bill-1.txt
1  feda  rceuoksml@emlpro.com  bill-2.txt

In [69]:
df.to_csv("contacts.csv", index=False)

In [54]:
import pathlib

In [56]:
path = pathlib.Path(".")

In [57]:
for i in path.glob("*"):
    print(i)

.ipynb_checkpoints
contacts.csv
credentials.env
day11.ipynb
thunder_express.txt

In [65]:
for i in range(1, 3):
    new_file = path / f"bill-{i}.txt"
    new_file.touch()
    print(f"Create file {new_file} success!!")

Create file bill-1.txt success!!
Create file bill-2.txt success!!

In [74]:
df.drop(columns="filepath", inplace=True)

In [75]:
df

   name                 email
0  fuse     fffbyds@gmail.com
1  feda  rceuoksml@emlpro.com

In [76]:
import numpy as np

In [108]:
np.random.seed(123)

In [109]:
np.random.randint(20, 101)

86

In [110]:
np.random.seed(123)
df["amount"] = [np.random.randint(20, 101) for i in range(1, 3)]

In [111]:
df

   name                 email  amount
0  fuse     fffbyds@gmail.com      86
1  feda  rceuoksml@emlpro.com      37

In [112]:
df.to_csv("contacts.csv", index=False)

In [119]:
pd.read_csv("contacts.csv")

   name                 email  amount
0  fuse     fffbyds@gmail.com      86
1  feda  rceuoksml@emlpro.com      37

In [ ]:
def generate_file(filename, content):
    with open(f"{filename}.txt", "w") as file:
        file.write(content)

In [123]:
content = """
<NAME> Your have to pay <AMOUNT>
Bill is attach!!
"""

In [124]:
a = 37

In [126]:
test_content = content.replace("<AMOUNT>", str(a))

In [127]:
test_content

'\n<NAME> Your have to pay 37\nBill is attach!!\n'