In [7]:
import yfinance as yf

ticker_symbol = "BTC-USD"

ticker = yf.Ticker(ticker_symbol)

start = False
end = None
# start="2020-01-01"
# end="2023-01-01"

if start:
  historical_data = ticker.history(interval="1d", start=start, end=end)

else:
  historical_data = ticker.history(period="max", interval="1d")

historical_data.drop(columns=["Dividends", "Stock Splits"], inplace=True)

historical_data.to_csv(f"{ticker_symbol}.csv")

print(historical_data)

# Step by step

In [2]:
import yfinance as yf

In [3]:
ticker_symbol = "BTC-USD"

In [4]:
ticker = yf.Ticker(ticker_symbol)

In [5]:
# start = False
# end = None
start = "2020-01-01"
end = "2023-01-01"

In [9]:
historical_data = ticker.history(interval="1d", start=start, end=end)

In [10]:
historical_data.drop(columns=["Dividends", "Stock Splits"], inplace=True)

In [11]:
historical_data

,Open,High,Low,Close,Volume
Date,,,,,
2020-01-01 00:00:00+00:00,7194.892090,7254.330566,7174.944336,7200.174316,18565664997
2020-01-02 00:00:00+00:00,7202.551270,7212.155273,6935.270020,6985.470215,20802083465
2020-01-03 00:00:00+00:00,6984.428711,7413.715332,6914.996094,7344.884277,28111481032
2020-01-04 00:00:00+00:00,7345.375488,7427.385742,7309.514160,7410.656738,18444271275
2020-01-05 00:00:00+00:00,7410.451660,7544.497070,7400.535645,7411.317383,19725074095
...,...,...,...,...,...
2022-12-27 00:00:00+00:00,16919.291016,16959.845703,16642.072266,16717.173828,15748580239
2022-12-28 00:00:00+00:00,16716.400391,16768.169922,16497.556641,16552.572266,17005713920
2022-12-29 00:00:00+00:00,16552.322266,16651.755859,16508.683594,16642.341797,14472237479
2022-12-30 00:00:00+00:00,16641.330078,16643.427734,16408.474609,16602.585938,15929162910
2022-12-31 00:00:00+00:00,16603.673828,16628.986328,16517.519531,16547.496094,11239186456